/* Theme Calendar */
.theme_calendar {
  border: 3px solid var(--theme-orange);
  border-radius: 0px 40px 40px 40px;
  background: var(--theme-black);
  color: var(--theme-white);
  padding: 20px;
  padding-top: 40px;
  font-family: "Montserrat";
  abbr {
    font-family: "Montserrat";
  }
  .all_users_profile {
    position: absolute;
    background: var(--theme-black);
    left: 0;
    width: 100%;
    padding: 0 15px;
    .list-group .list-group-item {
      transition-property: transform, opacity;
      transition-duration: 0.5s, 0.25s;
      transition-delay: 0s, 0.5s;
      animation-name: slideinToggleOptions;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
    }
    li {
      background: var(--theme-black);
      border: 2px solid var(--theme-orange);
      border-bottom: 0;
      font-size: 20px;
      line-height: 30px;
      color: var(--theme-orange);
      cursor: pointer;
    }
    li:first-child {
      color: var(--theme-white);
    }
    li:last-child {
      border-bottom: 2px solid var(--theme-orange);
    }
  }
  .react-calendar {
    border: none;
    background: var(--theme-black);
    width: 100%;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .react-calendar__viewContainer::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .react-calendar__viewContainer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .calendar_title {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: var(--theme-white);
  }
  // Overflow Calendar
  .react-calendar__viewContainer {
    height: 40vh;
    overflow-y: scroll;
  }
  .react-calendar__navigation__label {
    color: var(--theme-orange);
    font-weight: bold;
  }

  //General date,month,year,decade tile
  .react-calendar__tile {
    background: var(--theme-black);
    border: 2px solid var(--theme-black);
    border-radius: 5px;
    color: var(--theme-white);
    outline: none !important;
    &:hover {
      background: #eb5d0b2c;
      outline: none !important;
    }
    &:focus {
      border-color: var(--theme-orange);
      background: var(--theme-orange);
      outline: none !important;
    }
  }
  // Override for General day,month,year,decade Tile specifically
  .react-calendar__tile.react-calendar__month-view__days__day,
  .react-calendar__tile.react-calendar__year-view__months__month,
  .react-calendar__tile.react-calendar__decade-view__years__year,
  .react-calendar__tile.react-calendar__century-view__decades__decade {
    color: var(--theme-white);
    &:hover {
      background: #eb5d0b2c;
    }
    &:focus {
      border-color: var(--theme-orange);
      background: var(--theme-orange);
    }
  }

  .react-calendar__tile.react-calendar__tile--active:hover {
    background: var(--theme-orange);
  }
  // For Active and Focus status for Date,Month,Year, Decade on Click
  .react-calendar__tile--active,
  .react-calendar__tile--active:enabled:focus {
    border-color: var(--theme-orange);
    background: var(--theme-orange);
  }

  //For Currently selected Date, Month, Year, Decade
  .react-calendar__tile.react-calendar__tile--hasActive {
    &.react-calendar__month-view__days__day,
    &.react-calendar__year-view__months__month,
    &.react-calendar__decade-view__years__year,
    &.react-calendar__century-view__decades__decade {
      border-color: var(--theme-orange);
      background: var(--theme-orange);
      &:hover {
        background: var(--theme-orange);
      }
    }
  }

  //Today's Date, Month, Year, and Decade
  .react-calendar__tile.react-calendar__tile--now {
    &.react-calendar__month-view__days__day,
    &.react-calendar__year-view__months__month,
    &.react-calendar__decade-view__years__year,
    &.react-calendar__century-view__decades__decade {
      background: var(--theme-black);
      border-color: var(--theme-orange);
      &:hover {
        background: #eb5d0b2c;
      }
    }
  }
  .react-calendar__tile--active.react-calendar_single_whiteBorder_tile {
    border-color: var(--theme-orange);
  }
  /* For Both Active(Selected) and Now(Today) for Days*/
  .react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active {
    background: var(--theme-orange);
    &:hover {
      background: var(--theme-orange);
    }
  }

  /* For Both Active(Selected) and Now(Today) for Month,Year,Decades*/
  .react-calendar__tile.react-calendar__tile--now.react-calendar__tile--hasActive {
    &.react-calendar__year-view__months__month,
    &.react-calendar__decade-view__years__year,
    &.react-calendar__century-view__decades__decade {
      background: var(--theme-orange);
      &:hover {
        background: var(--theme-orange);
      }
    }
  }

  .react-calendar__tile.react-calendar__tile--active.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
    &:hover {
      border-color: var(--theme-orange);
    }
    &:focus {
      border-color: var(--theme-orange);
    }
  }

  .react-calendar_single_dotted_tile:after {
    content: "●";
    color: var(--theme-orange);
  }
  //Add white border to tile
  .react-calendar_single_whiteBorder_tile {
    border-color: var(--theme-white);
  }

  // Weekdays name
  abbr[data-original-title],
  abbr[title] {
    cursor: default;
    text-decoration: none;
  }

  // Begin Navigation arrows
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background: none;
    border: none;
    outline: none !important;
  }

  .react-calendar__navigation__label {
    background: none;
  }
  .react-calendar__navigation__arrow {
    color: white;
    font-size: 20px;
    &:hover {
      border: none;
    }
    &:focus {
      border: none;
    }
  }
  .react-calendar__navigation__arrow button:enabled:hover,
  .react-calendar__navigation__arrow button:enabled:hover {
    border: none;
  }
  .react-calendar__navigation button[disabled] {
    background: none;
    border: none;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background: none;
    border: none;
  }
  // End Navigation arrows

  //###################

  // Begin -  Custom CSS for Toggle button
  .calendar_toggle.wrapper {
    background: AliceBlue;
  }

  .input-toggler:checked ~ .sidebar {
    opacity: 0.9;
    transform: translateX(0);
    background-position: 0 0;
  }

  .menu-toggler {
    display: block;
    width: var(--toggler-size);
    height: var(--toggler-size);
    position: absolute;
    cursor: pointer;
    right: 15px;
    z-index: 1;
  }

  .menu-toggler__line {
    height: calc(var(--toggler-size) / 10);
    background: Tomato;
    position: absolute;
    left: 0;
    right: 0;
    transition-property: transform, opacity;
    transition-duration: 0.5s, 0.25s;
    transition-delay: 0s, 0.5s;
    animation-name: slidein;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  .input-toggler:checked ~ .menu-toggler .menu-toggler__line {
    transition-delay: 0.25s, 0s;
  }

  .menu-toggler__line:nth-child(2) {
    top: calc(var(--toggler-size) / 5 * 2);
    animation-duration: 0.6s;
  }

  .menu-toggler__line:nth-child(3) {
    top: calc(var(--toggler-size) / 5 * 4);
    animation-duration: 0.7s;
  }

  .input-toggler {
    display: none;
  }

  .input-toggler:checked ~ .menu-toggler .menu-toggler__line {
    background: var(--theme-orange);
  }

  .input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(1) {
    transform: translateY(calc(var(--toggler-size) / 5 * 2)) rotate(45deg);
  }

  .input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(2) {
    opacity: 0;
  }

  .input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(3) {
    transform: translateY(calc(var(--toggler-size) / 5 * -2)) rotate(-45deg);
  }
  @keyframes slidein {
    from {
      right: -200%;
      left: 200%;
    }
    to {
      left: 0;
      right: 0;
    }
  }
  // End -  Custom CSS for Toggle button
}

/* Toggle button For Header*/

@keyframes slideinToggleOptions {
  from {
    right: 0;
    left: 20px;
  }
  to {
    left: 0;
    right: 0;
  }
}

/*General Diary Box */
.diary {
  height: 50vh;
  padding: 20px;
  border: 2px solid var(--theme-white);
  box-sizing: border-box;
  border-radius: 0px 40px 40px 40px;
  .selected_date {
    color: var(--theme-orange);
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 30px;
  }
  .arrow_btns {
    cursor: pointer;
    font-size: 16px;
  }
}

//Main questions Box comprises on Calendar on left & Answers Box on right
.questionsBox {
  //.diary is the right part
  .diary {
    height: auto;
    .formBox {
      .form-text.status {
        color: var(--theme-white);
        margin-top: 10px;
        font-size: 14px;
      }
    }
    .diaryQuestion {
      text-align: left;
      font-size: 22px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: var(--theme-white);
      margin-top: 5%;
    }

    .answersForm {
      padding: 10px;
      border: 2px solid var(--theme-orange);
      border-radius: 20px;
      textarea {
        background: var(--theme-black);
        color: var(--theme-white);
        border: none;
        width: 100%;
        height: 15vh;
        max-height: 15vh;
        min-height: 15vh;
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &:active {
          border: none;
        }
        &:focus {
          border: none;
        }
        &:focus-visible {
          border: none;
        }
        &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }
  }
}
/* Header User Profile */
.userProfile {
  display: flex;
  align-items: center;
}
.userProfile .profileImg {
  width: 100px;
  height: 100px;
  background: #fff5f4;
  border-radius: 20px;
  img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
}
.userProfile .profileDesc {
  margin-left: 20px;
}
.userProfile .profileDesc h3 {
  color: var(--theme-orange);
}
.userProfile .profileDesc p {
  color: var(--theme-white);
}
.dashboard .customMargin {
  margin-top: 10vh;
}
/* Header Description on right */
.dashboard .headerDesc {
  color: var(--theme-white);
  font-weight: bolder;
}
.dashboard .headerDesc .list-group {
  margin-right: 20px;
  position: absolute;
  top: 0;
  border-radius: 20px;
  z-index: 1;
}
.dashboard .headerDesc .list-group .list-group-item {
  background: var(--theme-black);
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  cursor: pointer;
  color: var(--theme-white);
  transition-property: transform, opacity;
  transition-duration: 0.5s, 0.25s;
  transition-delay: 0s, 0.5s;
  animation-name: slideinToggleOptions;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.dashboard .headerDesc .list-group .list-group-item.active {
  color: var(--theme-orange);
  border: none;
  display: block;
  cursor: default;
}
.dashboard .headerDesc .list-group .list-group-item.inactive.show {
  display: block;
  margin: 0;
  background: #ffffff14;
}
.dashboard .headerDesc .list-group .list-group-item.inactive.hide {
  display: none;
}

/* Header toggle */
.headerToggle.wrapper {
  background: AliceBlue;
  display: flex;
}

.headerToggle.wrapper .input-toggler:checked ~ .sidebar {
  opacity: 0.9;
  transform: translateX(0);
  background-position: 0 0;
}

.headerToggle.wrapper .menu-toggler {
  display: block;
  width: var(--toggler-size);
  height: var(--toggler-size);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}

.headerToggle.wrapper .menu-toggler__line {
  height: calc(var(--toggler-size) / 10);
  background: Tomato;
  position: absolute;
  left: 0;
  right: 0;
  transition-property: transform, opacity;
  transition-duration: 0.5s, 0.25s;
  transition-delay: 0s, 0.5s;
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.headerToggle.wrapper
  .input-toggler:checked
  ~ .menu-toggler
  .menu-toggler__line {
  transition-delay: 0.25s, 0s;
}

.headerToggle.wrapper .menu-toggler__line:nth-child(2) {
  top: calc(var(--toggler-size) / 5 * 2);
  animation-duration: 0.6s;
}

.headerToggle.wrapper .menu-toggler__line:nth-child(3) {
  top: calc(var(--toggler-size) / 5 * 4);
  animation-duration: 0.7s;
}

.headerToggle.wrapper .input-toggler {
  display: none;
}

.headerToggle.wrapper
  .input-toggler:checked
  ~ .menu-toggler
  .menu-toggler__line {
  background: var(--theme-orange);
}

.headerToggle.wrapper
  .input-toggler:checked
  ~ .menu-toggler
  .menu-toggler__line:nth-child(1) {
  transform: translateY(calc(var(--toggler-size) / 5 * 2)) rotate(45deg);
}

.headerToggle.wrapper
  .input-toggler:checked
  ~ .menu-toggler
  .menu-toggler__line:nth-child(2) {
  opacity: 0;
}

.headerToggle.wrapper
  .input-toggler:checked
  ~ .menu-toggler
  .menu-toggler__line:nth-child(3) {
  transform: translateY(calc(var(--toggler-size) / 5 * -2)) rotate(-45deg);
}

/*General Form Box */
.formBox {
  padding: 10px;
  text-align: center;
}
.formBox .startFormBtn {
  background: var(--theme-black);
  color: var(--theme-white);
  border: 2px solid var(--theme-orange);
  border-radius: 20px;
  padding: 15px;
}
.formBox .startFormMsg {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: var(--theme-white);
  margin-top: 5%;
}

// Update Image Section
.updateImage {
  .profileImg {
    background: #fff5f4;
    border-radius: 20px;
    width: 85px;
    img {
      width: 85px;
      height: 85px;
      border-radius: 20px;
    }
  }
  .diary {
    height: auto;
    padding: 10%;
    border: 2px solid var(--theme-white);
    box-sizing: border-box;
    border-radius: 0px 40px 40px 40px;
    .formBox {
      padding: 10px;
      text-align: center;
      .profileImg {
        width: 100%;
        img {
          width: 100%;
          height: 150px;
          border-radius: 20px;
        }
      }
      .userDetails {
        .userName {
          .fa {
            font-size: 15px;
          }
        }
        .UserInfoEdit {
          justify-content: space-around;
          .fa {
            font-size: 15px;
          }
          input {
            background: none;
            border: 2px solid var(--theme-orange);
            outline: none;
            box-shadow: none;
            border-radius: 10px;
            color: var(--theme-white);
          }
          .customTick{
            color: var(--theme-orange);
            font-size: 25px;
          }
        }
      }
    }
    .formBox .startFormBtn {
      background: var(--theme-black);
      color: var(--theme-white);
      border: 2px solid var(--theme-orange);
      border-radius: 20px;
      padding: 15px;
      margin-top: 20px;
      width: 100%;
    }
    .formBox .startFormMsg {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 17px;
      color: var(--theme-white);
      margin-top: 5%;
    }
  }
}

// Accounts Section
.getAccounts {
  .formBox {
    .accountEditBtnSection {
      padding: 0 35%;
    }
  }
  .profileImg.left {
    cursor: pointer;
  }
  .profileImg {
    background: #fff5f4;
    border-radius: 20px;
    width: 85px;

    img {
      width: 85px;
      height: 85px;
      border-radius: 20px;
    }
  }
  .diary {
    height: auto;
    padding: 10%;
    border: 2px solid var(--theme-white);
    box-sizing: border-box;
    border-radius: 0px 40px 40px 40px;
    .formBox {
      padding: 10px;
      text-align: center;
      .profileImg {
        width: 100%;
        img {
          width: 100%;
          height: 150px;
          border-radius: 20px;
        }
      }
    }
    .formBox .startFormBtn {
      background: var(--theme-black);
      color: var(--theme-white);
      border: 2px solid var(--theme-orange);
      border-radius: 20px;
      padding: 15px;
      margin-top: 20px;
      width: 100%;
    }
    .formBox .startFormMsg {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 17px;
      color: var(--theme-white);
      margin-top: 5%;
    }
  }
}

/* ############################### MEDIA QUERIES ############################# */
/* Mobile Media Query */
@media only screen and (max-width: 767px) {
  .calendar_header .col-xs-2 {
    width: 15%;
    right: 10px;
  }
  .calendar_header .col-xs-10 {
    width: 85%;
  }
  .diary {
    margin-top: 45px;
    margin-bottom: 20px;
  }
  .reverse-col-flex {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .reverse-col-flex .userProfile {
    margin-top: 40%;
  }
  .updateImage {
    .diary {
      height: auto;
    }
  }
  .diary {
    height: auto;
  }
  .headerDesc .headerToggle.wrapper .menu-toggler {
    top: 10px;
    right: 5px;
  }
}
